.share-link-row {
  display: flex;
  gap: var(--space-2xs);
  align-items: stretch;
  flex-wrap: wrap;

  input {
    flex-grow: 1;
  }
  details {
    display: contents;
  }
  details > summary {
    list-style: none;
  }
  details:not([open]) > summary {
    // needed to fix positioning
    margin-right: calc(0px - var(--space-2xs));
  }
}

#codenames-header {
  display: flex;
  & > button {
    margin-left: auto;
  }
}

#codenames {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: var(--space-s-m);

  width: 100%;

  &::before {
    opacity: 0;
    content: "(close QR code to show grid again)";
    position: absolute;
    inset: 0;
    background-color: var(--main-background);
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 5px 10px var(--main-background);
    transition: opacity 150ms;
  }

  &.obscure::before {
    opacity: 1;
  }

  & > * {
    aspect-ratio: 1;
    display: grid;
    border: 1px solid;

    & > svg {
      place-self: center;
      width: 60%;
    }

    &.ag {
      background-color: var(--highlight-background);
    }

    &.as {
      background-color: var(--main-background);
    }
  }
}
