<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>
  {{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title
  site.Title }}{{ end }}
</title>
<meta name="title" property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}" />
<meta name="author" content="Jonathan Frere" />

<link rel="me" href="https://hachyderm.io/@johz" />

{{ if not .PublishDate.IsZero }}
<meta name="publish_date" property="og:publish_date" content="{{.PublishDate | time.Format "2006-01-02"}}" />
{{ end }}
{{ if not .Lastmod.IsZero }}
<meta name="updated_time" property="og:updated_time" content="{{.Lastmod | time.Format "2006-01-02"}}" />
{{ end }}
{{ with .Resources.GetMatch "cover.jpg" }}
<meta name="image" property="og:image" content="{{ .RelPermalink }}"> 
{{end}}


{{ partialCached "head/css.html" . }} {{ partialCached "head/js.html" . }}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />

{{/*  <link href="/Sen-VariableFont_wght.ttf" rel="stylesheet">  */}}

{{ with .OutputFormats.Get "rss" -}}
  <link rel="{{ .Rel }}" type="application/rss+xml" href="{{ .Permalink }}" title="{{ site.Title }}" />
{{ end }}

