{{ define "main" }} {{ .Content }}
<article>
  <header>
    <h1>
      <a href="{{ .RelPermalink }}">Articles</a>
    </h1>
  </header>
  <div class="content">
    <ul>
      {{ range where site.RegularPages "Section" "posts" }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> —
        <time datetime="{{.PublishDate | time.Format "2006-01-02"}}">{{humanize .PublishDate.Day}} {{.PublishDate | time.Format "January 2006"}}</time>
      </li>
      {{ end }}
    </ul>
  </div>
</article>
{{ end }}
