{{ define "head" }}
<meta name="description" content="{{ .Summary | plainify }}">
<link rel="canonical" href="{{ .Permalink }}">
{{ end }}

{{ define "main" }}
<article>
  {{ $anchor := (index (.Param "cover") "anchor")}}
  {{ with .Resources.Get "cover.jpg" }}
    {{ $size := (printf "%dx%d %s" (.Width) (mul (div .Width 16) 7) (default "" $anchor)) }}
    {{ with .Crop $size }}
    <picture>
      <source
      srcset="
        {{(.Resize "300x webp").RelPermalink}} 300w,
        {{(.Resize "500x webp").RelPermalink}} 500w,
        {{(.Resize "720x webp").RelPermalink}} 720w,
        {{.RelPermalink}} {{.Width}}w,
      "
      sizes="(min-width: 900px) 720px, (min-width: 600px) calc(75vw + 60px), 100vw"
      width="{{ .Width }}"
      height="{{ .Height }}"
      type="image/webp" />
      <img class="cover" role="presentation" alt="" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" />
    </picture>
    {{ end }}
  {{ end }}
  <header>
    <h1><a href="{{.RelPermalink}}">{{ .Title }}</a></h1>
  </header>
  {{if eq .Section "posts"}}
  <div class="details">
    <p>
      Posted <time datetime="{{.PublishDate | time.Format "2006-01-02"}}">{{ humanize .PublishDate.Day }} {{.PublishDate | time.Format "January 2006"}}</time> in
      {{range $k, $v := .GetTerms "tags"}}{{- if $k }}, {{end}}<a href="{{.RelPermalink}}">{{.Title}}</a>{{end}}
    </p>
    {{with .Param "cover"}}<p>Cover image based on 
      {{ $cover := . }}
      <em>{{ default "Unknown" (index $cover "name") }}</em>, 
      {{ default "Unknown Artist" (index $cover "artist") }}
      {{with index $cover "date"}}({{.}}){{end}}
      {{with index $cover "institution"}}
        {{with index $cover "institution-url"}}<a href="{{.}}">{{end}}
        {{.}}
        {{with index $cover "institution-url"}}</a>{{end}}
      {{end}}
    </p>{{end}}
  </div>
  {{end}}
  <div class="content">
    {{ if (.Fragments.Headings | len) }}
    {{/* I want to show a table of contents that is open by default on desktop,
         and closed by default on mobile.  Having two ToCs seems like the easiest
         option, somehow... */}}
    <details class="toc desktop" open>
      <summary>Contents</summary>
      {{ .TableOfContents }}
    </details>
    <details class="toc mobile">
      <summary>Contents</summary>
      {{ .TableOfContents }}
    </details>
    {{ end }}
    {{ .Content }}
    {{if eq .Section "posts"}}
      <hr>
      <p>
        <strong>Share this article</strong> on  
        <a href="https://reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}">Reddit</a>,
        <a href="https://twitter.com/intent/tweet?url={{ .Permalink}}&text={{ .Title }}">X/Twitter</a>,
        <a href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ .Title }}">Hacker News</a>,
        <span class="hide-on-share">or </span>
        <a href="https://lobste.rs/stories/new?url={{ .Permalink }}&title={{ .Title }}">Lobsters</a><span class="show-on-share">,
          or <button id="share">via your device</button></span>.
      </p>
      <p>
        <strong>Comments, thoughts, or corrections?</strong>
        Send me an email at <span class="email">jonathan.frere@<span class="hidden">example.com.</span>gmail.com</span> or contact me on <a href="/contact">social media</a>.
      </p>
      {{ with .Resources.Get "discussions.toml" }}
        <p><strong>Previous Discussions</strong></p>
        <ul>
        {{ range (index (. | transform.Unmarshal) "discussions") }}
          {{ if (not (index . "hidden")) }}
          <li class="discussion-link">
            <a href="{{ index . "url" }}"><strong>{{ index . "title" }}</strong></a> <em>({{ humanize (index . "timestamp").Day }} {{ index . "timestamp" | time.Format "January 2006"}})</em> on {{ index . "site" }}
            <em>({{ index . "score" }} points • {{ index . "comment_count"}} comments)</em>
          </li>
          {{ end }}
        {{ end }}
        </ul>
      {{ end }}
    {{ end }}
  </div>
</article>
{{ end }}