// COLORS:
// https://coolors.co/96e3d0-afaa18-092327-efd2cb-d65780

:root {
  &,
  &:has(body.light) {
    --main-background: #f3f8ff;
    // --highlight-background: #ffda22;
    // --highlight-background: #dbcbd8;
    // --highlight-background: #f25f5c;
    --highlight-background: #afc1d6;
    // --highlight-background: #96e3d0;
    --text-color: #092327;
    --article-color: #cef9f2;
    // --article-color: #DBCBD8;
    --link-deco-color: #ab92bf;
    --text-highlight-background: #fff5;
    color-scheme: light;
  }

  &:has(body.dark) {
    --main-background: #181e1f;
    --highlight-background: #07362f;
    --text-color: #e7eee5;
    --article-color: #202b2c;
    --link-deco-color: #520023;
    --text-highlight-background: #fff2;
    color-scheme: dark;
  }

  @media (prefers-color-scheme: dark) {
    --main-background: #181e1f;
    --highlight-background: #07362f;
    --text-color: #e7eee5;
    --article-color: #202b2c;
    --link-deco-color: #520023;
    --text-highlight-background: #fff2;
    color-scheme: dark;
  }

  --shadow-color: #0006;
  --border-radius: 2px;
  font-size: 18px;
}

@mixin screen($size) {
  @if ($size == big) {
    @media (min-width: 600px) {
      @content;
    }
  }
  @if ($size == small) {
    @media (max-width: 599px) {
      @content;
    }
  }
}

@mixin full-shadow($size) {
  box-shadow: 0 $size/2 10px 0px var(--shadow-color),
    $size / 3 $size / 3 $size 0px var(--shadow-color);
}

@mixin shadow($size) {
  box-shadow: $size/2 $size/2 10px 0px var(--shadow-color),
    $size * 0.75 $size * 0.75 $size 0px var(--shadow-color);
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

body {
  background-color: var(--main-background);
  color: var(--text-color);
  align-items: center;
  padding-block: 1.5rem;
  gap: 1.5rem;

  @include screen(big) {
    padding-block: 3rem;
    gap: 3rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;

  h1 {
    font-size: clamp(2rem, 6vw, 4rem);
    z-index: 2;

    width: max-content;
    background-color: var(--highlight-background);
    @include shadow(0.25rem);
    padding: 1rem;
    border-radius: var(--border-radius);

    &:has(a:hover) {
      background-color: var(--link-deco-color);
    }
  }

  nav {
    align-self: flex-end;
    width: max-content;
    background-color: var(--article-color);
    @include shadow(0.25rem);
    padding: 2.75rem 1.5em 0.75em;
    border-radius: var(--border-radius);
    margin-top: -2rem;
    margin-right: -2rem;

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      gap: 1rem;
    }
  }
}

main {
  display: contents;
}

article {
  @include screen(small) {
    @include full-shadow(0.25rem);
    width: 100%;
  }
  @include screen(big) {
    @include shadow(0.25rem);
    width: calc(min(85%, 40rem));
  }
  background-color: var(--article-color);
  padding: 1.5rem 1.5rem 2rem;
  margin-top: 1.5rem;

  header {
    @include shadow(0.25rem);
    background-color: var(--highlight-background);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    max-width: max-content;
    margin-top: -2.5rem;
    margin-left: calc(-1.5rem - var(--border-radius));
    padding: 0.5rem;
    padding-left: calc(0.5rem + var(--border-radius));

    @include screen(big) {
      margin-left: -4rem;
    }

    &:has(a:hover) {
      background-color: var(--link-deco-color);
    }
  }

  .content {
    &,
    & > * + *,
    & > blockquote > * + * {
      margin-block-start: var(--flow-space, 1.5em);
    }

    ul,
    ol {
      padding-left: 0em;
    }
    li > ul,
    li > ol,
    li > blockquote {
      padding-left: 1.5em;
    }

    blockquote {
      position: relative;
      margin-inline: 0em;
      padding-block: 0.5em;

      & > blockquote,
      & > ul,
      & > li {
        margin-inline-start: 1.5em;
      }

      & pre {
        margin-inline-start: -0.6em;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 0.25em;
        background-color: var(--text-color);
        border-radius: var(--border-radius);
        left: calc(-1em + 3px);
      }
    }

    pre {
      overflow-x: auto;
      margin-inline: -1.5em;
      padding: 1.5em 2em;
      background-color: var(--text-highlight-background);
      @include screen(big) {
      }
    }

    p {
      text-wrap: pretty;
      hanging-punctuation: first force-end last;
    }

    h2 {
      font-size: 1.3rem;
    }
    h3 {
      font-size: 1.1rem;
    }
    h4 {
      font-size: 1rem;
    }

    :is(h2, h3, h4) {
      @include shadow(0.25rem);
      background-color: var(--highlight-background);
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      max-width: max-content;
      margin-left: calc(-1.5rem - var(--border-radius));
      padding: 0.5em;
      padding-left: calc(0.5rem + var(--border-radius));

      --flow-space: 2em;

      @include screen(big) {
        margin-left: -2.5rem;
      }

      &:has(a:hover) {
        background-color: var(--link-deco-color);
      }

      a {
        color: inherit;
        text-decoration: inherit;
      }
    }
  }
}

nav a,
.content a {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--link-deco-color);
  text-decoration-thickness: 0.2em;
  text-decoration-skip-ink: none;
  transition: text-decoration-thickness 75ms, text-underline-offset 75ms;
  text-underline-offset: 0;
  &:hover {
    text-decoration-thickness: calc(1em + 0.2em);
    text-underline-offset: calc(-1em);
  }
}
